# Vasp source files
compile/vasp_source/potpaw_PBE.54.tar.gz
compile/vasp_source/vasp.5.4.4.pl2.tgz
compile/vasp_source/vdw_kernel.bindat.gz
# Vasp build directory
compile/vasp.5.4.4.pl2
# Vasp binaries
compile/bin
run/bin

run/vasp_test

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
