# Vasp source files
vasp_source/potpaw_PBE.54.tar.gz
vasp_source/vasp.5.4.4.pl2.tgz
vasp_source/vdw_kernel.bindat.gz

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
